.header{
   width: 100%;
   background-color: rgb(114, 196, 114);
   text-align: center;
   padding: 8px 0px;
   border: 1px solid red;
}
.button_container{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.button_container button {
   width: 120px;
   padding: 12px 10px;
   margin-right: 10px;
   cursor: pointer;
   background-color:  rgb(96, 222, 96);
   border: none;
   font-size: 16.5px;
 }
 .button_container button:hover
 {
   background-color: rgb(69, 217, 69);
 }