*{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.left{
  margin-left: 20%;
}
.section{
  
}
.section h1{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}